---
title: Normalized Subscription Revenue
date: 2014-09-11
tags: Cheat Sheets
published: true
layout: cheatsheet
---
# Normalized Subscription Revenue

<%= partial(:cheat_column_start, :locals => { :text => 'Description:'}) %>
Subscription revenue that is split to the months when the service is delivered.<br>
The splitting is called 'normalization'. <br>
<%= image_tag 'normalization.png' %>
<%= partial 'cheat_column_end' %>

<%= partial(:cheat_column_start, :locals => { :text => 'Use:'}) %>
Used to calculate Monthly Recurring Revenue (MRR).
<%= partial 'cheat_column_end' %>

<%= partial(:cheat_column_start, :locals => { :text => 'Why is it needed:'}) %>
You may have received subscription revenue in advance.<br>
Normalization prevents these problems:
<ul>
  <li>
    You may think that your SaaS has started to grow faster, when there are more prepayments
  </li>
  <li>
    You may think that your SaaS is doing worse when no revenue gets collected in that month
  </li>
</ul>
<%= partial 'cheat_column_end' %>

<%= partial(:cheat_column_start, :locals => { :text => 'Also Called:'}) %>
Recurring Revenue (RR)
<%= partial 'cheat_column_end' %>
